@import "./variables.scss";

/*color*/
@each $key,
$colorCode in $colorMap {
  .text-#{$key} {
    color: $colorCode;
  }

  .bg-#{$key} {
    background-color: $colorCode;
  }
}

/*html tag*/
body {
  font-family: 微軟正黑體, arial;
  color: #555;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

/*position*/
.position-r{
  position: relative;
}
.position-a{
  position: absolute;
}

/*component*/
.titleUnderLine{
  height: 3px;
  width: 80px;
}
.hotClass__content{
  height: 100px;
}
.aboutCard__img{
  width: 120px;
  height: 120px;
}
.knowMore_content{
  line-height: 38px;
}
/*font*/
@each $key,
$size in $fontSizeMap {
  .font-size-#{$key} {
    font-size: $size;
  }
}
.font-bold{
  font-weight: 700;
}
/*size*/
.h-100per{
  height: 100%;
}
.normal-radius {
  border-radius: $radiusVar;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.card-border {
  border: 1px solid #ddd;
}

/*special*/
.overflow-h{
  overflow: hidden;
}