$primary:#D90845;



$colorMap: (
  "primary": #D90845,
  "second": #eeeeee,
  "third":#123456
);

@each $key,
$colorCode in $colorMap {
  .text-#{$key} {
    color: $colorCode;
  }

  .bg-#{$key} {
    background-color: $colorCode;
  }
}

@mixin titleFont {
  font-size: 24px;
  color: #555;
  font-weight: 500;
  line-height: 1.3;
}